# dependencies & build output
node_modules/
dist/

# logs & editor cruft
*.log
.DS_Store
.vite/
# LaTeX aux files
notes/**/*.aux
notes/**/*.log
notes/**/*.out
notes/**/*.bbl
notes/**/*.blg
notes/**/*.toc
notes/**/*.synctex.gz
